@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;0,900;1,300;1,700;1,800;1,900&display=swap');

body {
	background-color: rgb(24, 246, 172);
}

@font-face {
	font-family: Vazir;
	src: url(../fonts/Vazirmatn-Bold.ttf);
}
  
.font-vazir {
	font-family: Vazir, serif;
}

#title {
	font-family: Vazir, sans-serif;
	text-align: center;
	font-weight: bold;
}

.hint-box {
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 3px;
	background-color: rgb(162, 158, 158);
	border-radius: 5px;
	font-family: Vazir, sans-serif;
	text-align: center;
}

.hint-box a {
	text-decoration: none;
	color: rgb(65, 64, 64);
}

.hint-box a:hover { color: rgb(74, 192, 14); }

code {
	font-family: Poppins, sans-serif;
	padding: 2px;
	background-color: #9a9999;
	border-radius: 4px;
	font-weight: bold;
	font-size: 13px;
}

.code-box {
	text-align: left;
	background-color: rgba(2, 134, 89, 0.73);
	border-radius: 7px;
	border: 1px solid #e1ff79;
	padding: 5px;
}

.code-box button {
	display: flex;
}

.code-box button i {
	font-size: 20px;
}

ul {
	overflow: auto;
	white-space: nowrap;
	list-style-type: disc;
}

li a::after {
	content: url('data:image/svg+xml,<svg width="13" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23607D8B" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" fill="none" d="M0 0h24v24H0z"/><path fill="black" d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" /><line fill="red" x1="10" y1="14" x2="20" y2="4" /><polyline fill="red" points="15 4 20 4 20 9" /></svg>');
	margin: 0 0.15rem;
	vertical-align: middle;
}

.code-box code {
	font-size: 16px;
}

.content-box {
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 3px;
	border-radius: 3px;
	font-family: Vazir, sans-serif;
	background-color: rgba(15, 173, 120, 0.726);
	text-align: right;
}

.content-box a {
	text-decoration: none;
	color: rgb(48, 43, 24);
}

.content-box a:hover { opacity: 70%; }

.note {
	text-align: center;
	background-color: #9a9999;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid #e96762;
	margin-top: -20px;
}

.center { text-align: center; }

.version {
	padding: 3px 3px;
	text-align: center;
	font-size: 20px;
	border-radius: 6px;
	background-color: rgba(21, 245, 169, 0.73);
}

.version::before {
	content: "نسخه ";
}

.stable::after {
	padding: 1px;
	border-radius: 6px;
	background: #4ac00e;
	display: inline-block;
	color: #fdfcfc;
	font-family: Vazir, serif;
	content: "آخرین ورژن رسمی";
	align-content: center;
}

.no-publish::after {
	padding: 1px;
	border-radius: 6px;
	background: #62c8f3;
	display: inline-block;
	color: red;
	font-family: Vazir, serif;
	content: "منتشر نشده";
}

.version .btn-version {
	float: right;
	margin-right: 3px;
}

.content-box button {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: aqua;
	border: 2px solid #e1ff79;
	border-radius: 5px;
	font-size: 15px;
	font-family: Vazir, sans-serif;
	text-align: center;
}

.content-box button:hover {
	background-color: rgb(128, 214, 214);
	border-radius: 5px;
	font-family: Vazir, sans-serif;
	cursor: pointer;
}

footer {
	text-align: center;
}

footer p {
	font-family: Vazir, serif;
}

footer p b {
	font-family: Poppins, sans-serif;
	font-weight: bold;
	font-size: 15px;
}

hr {
	border: 2px solid green;
	border-radius: 5px;
	width: 50%;
}

@media (width <= 350px) {
	#title {
		font-size: 20px;
	}
}

@media (width < 350px) and (width <= 450px) {
	#title {
		font-size: 22px;
	}
}

@media (width > 450px) {
	#title {
		font-size: 40px;
	}
}

::-webkit-scrollbar {
	width: 7px;
	height: 3px;
	background-color: transparent;
	border-radius: 5px;
}

::-webkit-scrollbar-corner {
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #2a2a30;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #407e99;
}

#bale-img {
	display: flex;
	float: left;
	width: 45px;
	cursor: pointer;
}

#bale-img:hover {
	opacity: 80%;
}