body {
    background-color: rgb(0 52 45);
}

#bale-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

#title {
	font-family: Roboto, serif;
}

#short-description, .lang-description {
	font-family: Vazir, serif;
	margin-right: 10px;
	margin-left: 10px;
}

.link {
	color: rgba(225, 255, 121, 0.58);
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	color: rgba(221, 231, 21, 0.785);
}

.social-btn{
	display: inline-block;
	background-color: rgb(220, 231, 21);
	border-radius: 5px;
	font-size: 15px;
	padding: 5px 15px;
	font-family: Vazir, serif;
	border: 2px solid #e1ff79;
}

.social-btn:hover{
	background-color: rgba(221, 231, 21, 0.785);
}

a{
	color: rgba(225, 255, 121, 0.58);
	display: inline-block;
}

a:hover{
	color: #e1ff79;
}

p {
	display: inline-block;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoSlab.ttf);
  }

.font-roboto{
	font-family: Roboto, serif;
}


@font-face {
	font-family: Vazir;
	src: url(../fonts/Vazirmatn-Bold.ttf);
  }

.font-vazir {
	font-family: Vazir, serif;
}

.v2-button {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 15px;
	background-color: aqua;
	border: 2px solid #e1ff79;
	border-radius: 5px;
	font-size: 17px;
	font-family: Vazir, serif;
}

.v2-button:hover {
	background-color: rgb(128, 214, 214);
	border-radius: 5px;
	font-family: Vazir, serif;
	cursor: pointer;
}

.developers {
	position: relative;
	display: inline-block;
}

.developers-p {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
	font-family: Vazir, serif;
}

@media (width < 700px) {
	.developers-p {
		margin-top: 30px;
	}
}

.developers-p p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.developers-p p:hover {background-color: rgb(128, 214, 214);border-radius: 5px;}
.developers-p .link:hover {color: rgba(252, 19, 19, 0.78);}
.developers:hover .developers-p {display: block;}
.developers:active .developers-p {display: block;}

#alert-box {
	top: 0;
	position: sticky;
	background-color: red;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 0 0 5px 5px;
	z-index: 20;
}

#alert-box p {
	font-family: Vazir, serif;
	font-size: 20px;
	color: black;
	cursor: pointer;
}

#alert-box #close-alert-box-btn {
	background: none;
	border: none;
	font-size: 25px;
	cursor: pointer;
	margin-top: 10px;
}

footer {
	padding: 10px;
}

footer p {
	font-family: Vazir, serif;
}

@media (width >= 600px) {
	#title {
		font-size: 60px;
	}
	#short-description {
		font-size: 32.5px;
	}
	.lang-description, footer p, #alert-box p {
		font-size: 19px;
	}
	.v2-button {
		font-size: 17px;
	}

	#alert-box #close-alert-box-btn {
		float: left;
		margin: 0;
		margin-left: 10px;
	}
}

@media (width >= 500px) and (width < 600px){
	#title {
		font-size: 50px;
	}
	#short-description {
		font-size: 26.5px;
	}
	.lang-description, footer p {
		font-size: 15px;
	}
	.v2-button, #alert-box p {
		font-size: 17px;
	}
}

@media (width >= 400px) and (width < 500px) {
	#title {
		font-size: 40px;
	}
	#short-description {
		font-size: 21.5px;
	}
	.lang-description, footer p {
		font-size: 14px;
	}
	.v2-button, #alert-box p {
		font-size: 15px;
	}
	.developers-p {
		margin-top: 10px;
	}
}

@media (width >= 350px) and (width < 400px) {
	#title {
		font-size: 30px;
	}
	#short-description {
		font-size: 16px;
	}
	.lang-description, footer p {
		font-size: 13px;
	}
	.v2-button, #alert-box p {
		font-size: 14px;
	}
}
